#root {
  max-width: 40rem;
  margin: 0 auto;
  padding: 2rem;
  text-align: left;
}

.card {
  border: 1px solid #e1e9f6;
  padding: 0 1rem;
  margin-bottom: 1rem;
  border-radius: 0.5rem;
}

.image-list {
  width: 100%;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.full-width-image {
  width: 100%;
  height: auto;
  margin-bottom: 1rem;
  display: block;
}

.landscape-ratio-image {
  width: 100%;
  aspect-ratio: 3 / 2;
  object-fit: cover;
  display: block;
  margin-bottom: 1rem;
}

.landscape-ratio-image-with-background {
  width: 100%;
  aspect-ratio: 3 / 2;
  display: block;
  margin-bottom: 1rem;
  background-image: url('/placeholder.webp');
  background-size: cover;
  background-position: center;
}
